In [4]:
print(26)
print(type(26))

26
<class 'int'>

In [5]:
print(6.3)
print(type(6.3))

print(6.)

print(.3)

print(.6e9)

print(6.3e-6)

6.3
<class 'float'>
6.0
0.3
600000000.0
6.3e-06

In [7]:
print("arumokta26")
print(type("arumokta26"))

arumokta26
<class 'str'>

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
n = 300

print(n)

300

n

300

In [16]:
n = 1000
print (n)

n

1000

1000

In [17]:
a = b = c = 800
print(a, b, c)

800 800 800

In [51]:
var = 28,4
print(var)

var = "Now i'm a chrod"
print(var)

(28, 4)
Now i'm a chrod

In [52]:
name = "Dualipa"
Age = 25
a_singer = True
print(name, Age, a_singer)

Dualipa 25 True

In [20]:
3_cheese_cake = True

SyntaxError: invalid decimal literal (<ipython-input-20-6e4ebee46408>, line 1)

In [22]:
level = 1
Level = 2
leVel = 3
LEVEL = 4
l_e_v_e_l = 5
_level = 6
level_ = 7
_LEVEL_ = 8

print(level, Level, leVel, LEVEL, l_e_v_e_l, _level, level_, _LEVEL_)

1 2 3 4 5 6 7 8

In [23]:
a = 15
b = 25
a + b

40

In [24]:
a = 100
b = 28
a + b - 30

98

In [53]:
a = 10
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

15
5
50
2.0
0
100000

In [28]:
20 / 2

10.0

In [54]:
a = 100
b = 50
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)


a = 80
b = 80
print(a == b)
print(a <= b)
print(a >= b)

False
True
False
True
True
True
True

In [55]:
# + Operators
z = 'aca'
g = 'ucu'
i = 'aca'

print(z + g)

print(z + g + i)

print('Jogja25 ' + 'JKT')

acaucu
acaucuaca
Jogja25 JKT

In [34]:
# * Operators
A = 'blabla'

A * 8

'blablablablablablablablablablablablablablablabla'

In [56]:
# in Operators

a = 'foo'

print(a in 'That food for me')

print(a in 'That good for me')

True
False

In [57]:
# Case Conversation
ao = 'Jakarta26'

# Capitalize
print(ao.capitalize())

# Lower
print(ao.lower())

#Swapcase
print(ao.swapcase())

#Title
print(ao.title())

# Uppercase
print(ao.upper())

Jakarta26
jakarta26
jAKARTA26
Jakarta26
JAKARTA26

In [47]:
Z = ['love', 'hug', 'kiss', 'mine']

print (Z)

['love', 'hug', 'kiss', 'mine']

In [48]:
Z = ['love', 'hug', 'kiss', 'mine']
A = ['mine', 'love', 'hug', 'kiss']

Z == A

False

In [50]:
D = [25.4, 'story', 9, 9, 'moment', False, 9.19159]

print (D)

[25.4, 'story', 9, 9, 'moment', False, 9.19159]

In [60]:
z = ['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']
     
print(z[0])     
print(z[3])

mine
hug

In [63]:
z = ['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

z[2:5]

['kiss', 'hug', 'favorite']

In [66]:
print(z)

print(z + ['jogja', 'jakarta'])

print(z * 2)

['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']
['mine', 'love', 'kiss', 'hug', 'favorite', 'everything', 'jogja', 'jakarta']
['mine', 'love', 'kiss', 'hug', 'favorite', 'everything', 'mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

In [82]:
# len(), min(), max()

print(z)

print(len(z))

print(min(z))

print(max(z))

['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']
6
everything
mine

In [83]:
Z = ['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

print(Z)

Z[2] = 30
Z[-4] = 40

print(Z)

['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']
['mine', 'love', 40, 'hug', 'favorite', 'everything']

In [85]:
print(z)

['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

In [89]:
del z[4]

print(z)

['mine', 'love', 'kiss', 'hug', 'everything']

In [92]:
Z = ['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

print(Z[2:5])

Z[2:5] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(Z)

['kiss', 'hug', 'favorite']
['mine', 'love', 1.1, 2.2, 3.3, 4.4, 5.5, 'everything']

In [93]:
Z = ['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

print(Z)

['mine', 'love', 'kiss', 'hug', 'favorite', 'everything']

In [94]:
print(Z[1])

print(Z[-2])

love
favorite

In [102]:
(z1, z2, z3, z4) = ('mine', 'love', 'kiss', 'hug')
    
    
z1

'mine'

In [104]:
EPM_member = {
    'Siska': 'Padang',
    'Awan' : 'Bogor',
    'Nida' : 'Jepara',
    'Arum' : 'Jakarta'
    
}

In [106]:
print(EPM_member['Nida'])
print(EPM_member['Siska'])

Jepara
Padang

In [111]:
EPM_member['BRI Agro'] = 'Awesome'
EPM_member

{'Siska': 'Padang',
 'Awan': 'Bogor',
 'Nida': 'Jepara',
 'Arum': 'Jakarta',
 'BRI Agro': 'Awesome'}

In [112]:
EPM_member['Nida'] = 'Karimun Jawa'
EPM_member

{'Siska': 'Padang',
 'Awan': 'Bogor',
 'Nida': 'Karimun Jawa',
 'Arum': 'Jakarta',
 'BRI Agro': 'Awesome'}

In [113]:
del EPM_member['Arum']
EPM_member

{'Siska': 'Padang',
 'Awan': 'Bogor',
 'Nida': 'Karimun Jawa',
 'BRI Agro': 'Awesome'}

In [115]:
home = {}
type(home)

home['window'] = 'three'
home['door'] = 'two'
home['chair'] = 'wood'
home['table'] = 'glass'
home['person'] = 'four'
home['children'] = ['Rebecca', 'Renata', 'Rovera']
home['pets'] = {'cat':'cia','turtle': 'brown'}

In [116]:
print(home['children'])
print(home['door'])

['Rebecca', 'Renata', 'Rovera']
two

In [122]:
print(home['children'])
print(home['children'][2])

['Rebecca', 'Renata', 'Rovera']
Rovera

In [123]:
print(home['pets'])
print(home['pets']['turtle'])

{'cat': 'cia', 'turtle': 'brown'}
brown

In [131]:
# Build-in Methods
a = {'z': 10, 'g': 20, 'i': 30}

# items
print(a.items())

# keys
print(a.keys())

# values
print(a.values())

dict_items([('z', 10), ('g', 20), ('i', 30)])
dict_keys(['z', 'g', 'i'])
dict_values([10, 20, 30])

In [132]:
home1_jakarta = 38
home2_jakarta = 75
home3_jakarta = 100

that_is_sweethome_jakarta = (home1_jakarta >= 15 and home1_jakarta <= 80) or (home2_jakarta >= 76 and home2_jakarta <= 80 or (home3_jakarta >= 95) and person3_age <= 80)
that_is_sweethome_jakarta

True