In [ ]:
== #equals
!=<
>
<=
>=

In [5]:
cuaca = 'cerah'

if cuaca == 'cerah':
    print('pergi keluar')
    print('pergi ke rumah nenek')

pergi keluar
pergi ke rumah nenek

In [22]:
x = 8
y = 10

if x > 1: #expresion 1
    print('benar')#statement 1
    print('...')#statement 2
    print('...')#statement 3
    
if y == 10: #expression 2
    print('benar')#statement A
    print('...')#statement B
    print('...')#statement C
    
if x == 8: #expression 3
    print('ok') #statement 1
       
print('Something')

benar
...
...
benar
...
...
ok
Something

In [72]:
if 'foo' in['foo', 'bar', 'baz']: #E1 terpenuhi
    print('Outer condition is true') #S1 jalan
    
    if 10 > 20: #E2 tidak terpenuhi
        print('inner condition') #S2 tidak jalan
        
    print('Between inner condition') #S3 jalan
        
    if 10 < 20: #E3 terpenuhi
        print('inner condition 2') #S4 jalan
        
    print('End of outer condition') #S5 jalan
    
    print('After outer condition') #S6 jalan

Outer condition is true
Between inner condition
inner condition 2
End of outer condition
After outer condition

In [71]:
x = 10

if x < 10: #E1
    print('OK')#S1
else: #E1
    print('NOT')#S2

NOT

In [26]:
y = 100

if y == 90:
    print('OK')
elif y == 100:
    print('THIS')
else:
    print('NOT')

THIS

In [27]:
x = 20

if x < 50:
    print('(first suite)')
    print('(x is small)')
else:
    print('(second suite)')
    print('(x is large)')

(first suite)
(x is small)

In [77]:
harga_buku = 20000
harga_majalah = 5000
uang = 2000


if uang > harga_buku: #E1
    print('beli buku') #beli

else:
    print('ngga cukup')

ngga cukup

In [76]:
harga_buku = 1500
harga_majalah = 5000
uang = 2000
harga_pulpen = 1000

if uang > harga_buku: #E1
    print('beli buku') #beli
    
if uang > harga_pulpen: #E2
    print('beli pulpen') #beli
    
else:
    print('ngga cukup')

beli buku
beli pulpen

In [33]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hai Fred')
elif name == 'Xander':
    print('Hai Xander')
elif name == 'Hacktiv8':
    print('Hai Hack')
elif name == 'Arnold':
    print('Hai Arnold')
else:
    print('I dont know')

Hai Hack

In [36]:
if name == 'Hacktiv8': print('Hai Hack'); print('Apa Kabar'); print('Sudah Makan')

Hai Hack
Apa Kabar
Sudah Makan

In [39]:
y = 50
x = 'Benar' if y == 50 else 'Salah'
print(x)

y = 50
x = 'Benar' if y == 10 else 'Salah'
print(x)

Benar
Salah

In [42]:
a = 1
b = 2
c = 3
y = 50

x = a+b*c if y == 10 else 'Salah'
print(x)

Salah

In [44]:
x = 2

if x == 1: 
    print('foo')
    print('bar') 
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

qux
quux

In [51]:
hujan = True
print('Ayo ke','pantai' if not hujan else 'dirumah aja')

print('-'*30)
if not hujan:
    print('dipantai')
    
else:
    print('dirumah aja')

Ayo ke dirumah aja
------------------------------
dirumah aja

In [48]:
print('A' not in 'ABC')
print('A' in ['A', 'B', 'C'])

False
True

In [78]:
if True:
    
    print('foo')

foo

In [53]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [ ]:
while True"
    print('A')

In [79]:
n = 0
while True:
    print('A')
    n += 1
    if n == 10:
        break

A
A
A
A
A
A
A
A
A
A

In [80]:
n = 0
print('n =', n)
print('-'*20)
while True:
    print('A{}'.format(n))
    n += 1
    if n == 10:
        break
print('-'*20)
print('n =', n)

n = 0
--------------------
A0
A1
A2
A3
A4
A5
A6
A7
A8
A9
--------------------
n = 10

In [58]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [66]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
    print(n)
print('Loop ended.')

4
4
3
3
1
1
0
0
Loop ended.

In [ ]:
nama_akun = '@metrotvnews'
target_tweets = 10
tweets_terambil = 0
text_warning = 'ROKOK'

while tweets_terambil != target_tweets:
    tweets_terambil += 1
    tweet = 'ambil tweet ke-{}'. format(tweets_terambil)
    if tweets_terambil == 5:
        tweet = tweet + 'ROKOK'
    print(tweet)
    if text_warning in tweet:
        break

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
        
else:
    print('Loop done')

print('Start another process')

In [96]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))
        break

foo
> baz
bar
> baz

In [97]:
a = ['foo', 'bar']
len(a)

2

In [98]:
a.pop(0)

'foo'

In [99]:
a

['bar']

In [106]:
x = 2
while 0:
    x -= 1
    print(x)

In [107]:
len(a)

1

In [110]:
a = {'foo': 1, 'bar': 2, 'baz':3}
for i in a:
    print(i, a[i])

foo 1
bar 2
baz 3

In [111]:
a['foo']

1

In [113]:
for i in a.values():
    print(i)

1
2
3

In [114]:
for i in a.keys():
    print(i)

foo
bar
baz

In [115]:
a

{'foo': 1, 'bar': 2, 'baz': 3}

In [119]:
for k, v in a.items():
    print(k,v)

foo 1
bar 2
baz 3

In [120]:
a = ['a', 'b', 'c']
b = ['A', 'B', 'C']
c = [1, 2, 3]

for i, j, k in zip(a, b, c):
    print(1, j, k)

1 A 1
1 B 2
1 C 3

In [121]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [122]:
x = range(10)
x

range(0, 10)

In [123]:
a = input('Masukkan nama: ')
for i in a:
    print(i)

Masukkan nama: Arum
A
r
u
m

In [ ]:
while True:
    msg = input('Stop? ')
    if msg  == 'S':
        break